{% from 'form_helper.html' import displayField %}

{% extends "prelogin-layout.html" %}

{% block title %}Registration{% endblock %}

{% block content %}
  <h1>Get started</h1>
<!-- Kur forma nodod datus:-->
  <form action="{{ url_for('index')}}", method="POST">

    {{ displayField(form.username, 'Username', autocomplete="off", autofocus=true) }}
    {{ displayField(form.password, 'Password') }}
    {{ displayField(form.confirm_pswd, 'Retype Password') }}

    <div>
      {{ form.submit_button }}
    </div>

<!-- Pasarga no nelietigas ielausanas, izmanto secret key -->
    {{ form.csrf_token }}

  </form>
{% endblock %}
